{* This is the welcome page, you can delete it *}

{block content}

	<h1>Témata</h1>

	{control addTopicForm}

	<div class="topics">
		<div n:foreach="$topics as $topic">
			<h2><a n:href="Topics:detail, id => $topic->id">{$topic->name}</a></h2>
			<p>{$topic->description}</p>
		</div>
	</div>
